---
import DetectiveIA from "../../../components/games/detectiveIA";
import nivelesPorGrado from "../../../data/nivelesPorGrado.js";
import Header from "../../../components/layout/Navbar.astro";
import "../../../styles/tailwind.css";

export async function getStaticPaths() {
  // Obtiene todos los grados definidos en tu objeto de datos
  const grados = Object.keys(nivelesPorGrado);
  return grados.map(grado => ({
    params: { grado }
  }));
}


const { grado } = Astro.params;
const data = nivelesPorGrado[grado] || nivelesPorGrado["primero"];
---

<html lang="es">
  <head>
    <title>Detective IA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-gray-100">
    <Header />
    <DetectiveIA client:load />
  </body>
</html>
