---
import { trivias } from "../data/trivia.js";
import "../styles/tailwind.css";
import Header from "../components/layout/Navbar.astro";

const cursos = trivias.map((t) => t.course); // O usa un array fijo si quieres mostrar todos aunque no tengan trivia
---

<html lang="es">
  <head>
    <title>Cursos Disponibles</title>
    <meta charset="UTF-8" />
  </head>
  <body class="bg-gray-50">
    <Header />
    <h1 class="text-3xl font-bold text-indigo-800 mb-6 text-center">
      Cursos Disponibles
    </h1>
    <div class="flex flex-wrap gap-6 justify-center">
      {cursos.map((curso) => (
        <a
          href={`/curso/${curso}`}
          class="bg-indigo-600 text-white px-8 py-6 rounded-xl shadow text-lg font-semibold text-center hover:bg-indigo-700 transition w-60"
        >
          Ir al Curso {curso.charAt(0).toUpperCase() + curso.slice(1)}
        </a>
      ))}
    </div>
    <a
      href="/"
      class="bg-white px-6 py-3 rounded-lg shadow text-lg font-medium block w-max mx-auto mt-6"
    >
      Volver al inicio
    </a>
  </body>
</html>

