---
import Layout from '../layouts/MainLayout.astro';

import "../styles/tailwind.css";
---
<Layout>
  <h1>Home</h1>
  <a
    href="/cursos/"
    class="mt-4 inline-block px-4 py-2 bg-blue-600 text-white rounded-md font-semibold text-base hover:bg-blue-700 transition"
  >
    Ir a cursos Disponibles
  </a>
</Layout>