---
import { trivias } from "../../data/trivia.js";
import "../../styles/tailwind.css";
---

<html lang="es">
  <head>
    <title>Cursos Disponibles</title>
  </head>
  <body class="p-10 bg-gray-50">
    <h1 class="text-3xl font-bold text-indigo-800 mb-6">Cursos Disponibles</h1>

    <ul class="grid gap-4">
      {trivias.map((trivia) => (
        <li class="bg-white p-4 rounded shadow hover:shadow-lg transition">
          <a 
            class="text-lg font-semibold text-indigo-600 hover:underline"
            href={`/curso/${trivia.course}/trivia`}
          >
            Ir a la trivia de {trivia.course}
          </a>
        </li>
      ))}
    </ul>
  </body>
</html>
